// Global - Common 

* {
    padding: 0;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-family: $primary-font-family; 

    &.fixed{
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
a,
p {
    padding: 0;
    margin: 0;
    letter-spacing: initial;
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    border: 0;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

a,
a:focus {
    outline: none;
}

button:hover {
    transition: all .5s ease;
}

select::-ms-expand {
    display: none;
}

button:focus,
a:focus {
    outline: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
   line-height: 1;
   font-family: $secondary-font-family;
}

h2{
    font-size: 80px;
    font-weight: normal;
    text-transform: uppercase;
}

h3{
    color: $darkBlue;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $primary-font-family;
}

p {
    line-height: 1.6;
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1230px;
    }
}

.common-btn{
    font-size: 14px;
    color: $white;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: $blue;
    padding: 15px 26px;
    transition: all ease-in-out 0.2s;
    font-weight: bold;
    text-align: center;

    &:hover{
        background: $darkBlue;
        color: $white;
    }
}

.slick-dots{
    position: absolute;
    z-index: 1;

    li{
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }

        button{
            font-size: 0;
            background: $white;
            border: 0;
            width: 7px;
            height: 35px;
            display: block;
        }

        &.slick-active{
            button{
                background: $blue;
            }
        }
    }
}

.free-case-evaluation{
    padding: 60px 0 30px;
    background-color: $blue;
    position: relative;

    &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-size: cover;
        background-position: 100% 47%;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
    }

    .inner{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 1;

        .content{
            flex-basis: 545px;
            flex-grow: 1;
            margin-bottom: 30px;
            padding-right: 80px;

            h2{
                color: $white;
            }

            p{
                font-size: 20px;
                font-weight: bold;
                color: $white;
            }
        }
        
        .btn-wrap{
            display: flex;
            margin-top: 10px;

            a{
                font-size: 14px;
                letter-spacing: 1px;
                color: $white;
                text-transform: uppercase;
                background: $darkBlue;
                border: 2px solid $darkBlue;
                font-weight: bold;
                min-width: 275px;
                text-align: center;
                margin-right: 12px;
                padding:20px;
                transition: all ease-in-out 0.2s;

                &:hover{
                    background: $transparent;
                    border: 2px solid $white;
                }

                &:last-child{
                    margin-right: 0;
                }

                img{
                    margin-right: 10px;
                    width: 22px;
                    height: 24px;
                    object-fit: contain;
                }
            }
        }
    }

    &.block{
        padding:0;
        margin: 50px 0;

        &:before{
            background-position: center;
            opacity: 0.33;
        }

        .container{
            padding:0;
            max-width: 100%;
        }

        .inner{
            align-items: flex-end;
            padding: 12px 25px 0 45px;
            justify-content: flex-end;

            .content{
                padding:50px 0 64px;
                margin:0;
                flex-basis: calc(100% - 284px);
                flex-grow: 1;

                h3{
                    color: $white;
                    font-size: 40px;
                    margin-top: 0;
                    margin-bottom: 10px;
                }

                p{
                    font-weight: normal;
                    margin-bottom: 25px;
                    max-width: 402px;

                    b{
                        font-weight: bold;
                        color: $white;

                        a{
                            color: $white;
                        }
                    }
                }

                .common-btn{
                    background: $darkBlue;
                    border: 2px solid $transparent;
                    padding: 20px 30px;
                    margin-top: -5px;

                    &:hover{
                        border: 2px solid $white;
                        background: $transparent;
                    }
                }
            }

            .img-wrap{
                flex-basis: 284px;

                img{
                    width: 100%;
                }
            }
        }
    }

    &.footer-form{
        padding: 90px 0 65px;

        .inner{
            flex-wrap: wrap;

            .content{
                flex-basis: 100%;
                text-align: center;
                max-width: 550px;
                padding: 0;
                margin: 0 auto 35px;
            }

            .contact-form-evaluation{
                background-image: none;
                padding: 0;
                margin-bottom: 0;

                form{
                    .form-row{
                        margin: 0 -8px;
                
                        textarea{
                            height: 80px;
                        }
                
                        .col-12{
                            padding:0 8px;
                            margin-bottom: 16px;
                        }
        
                        button{
                            background: $darkBlue2;

                            &:hover{
                                border: 2px solid $white;
                                background: $transparent;
                            }
                        }
                    }
                }
            }

            .btn-wrap{
                display: none;
            }
        }
    }
}

.awards-affiliations{
    background: $blue;
    padding: 70px 0;

    h2{
        text-align: center;
        color: $white;
        margin-bottom: 30px
    }

    .awards-wrap{
        .slick-slide{
            padding:0 13px;

            .wrap{
                background: $white;
                height: 116px;
                padding: 15px 30px;
                display: flex !important;
                justify-content: center;
                align-items: center;

                img{
                    object-fit: contain;
                }
            }
        }

        .slick-arrow{
            font-size: 0;
            background:$transparent;
            border: 0;
            background-image: url('/wp-content/themes/bourassa/images/arrow.png');
            width: 32px;
            height: 57px;
            background-size: cover;
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            right: -50px;

            &.slick-prev{
                transform: translateY(-50%) rotate(180deg);
                right: auto;
                left: -50px;
            }
        }
    }
}

.inner-banner{
    background: $darkBlue;
    position: relative;

    &#single-practice-areas{
        background: $darkBlue2;

        &:before{
            opacity: 0.55;
            mix-blend-mode: normal;
        }
    }

    &#our-firm{
        background: $darkBlue2;

        &:before{
            mix-blend-mode: difference;
            background-position: 100% 16%;
        }
    }

    &#verdicts-and-settlements{
        background: $darkBlue2;

        &:before{
            mix-blend-mode: normal;
        }
    }

    &#contact{
        background: $darkBlue2;

        &:before{
            mix-blend-mode: normal;
        }
    }

    &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        mix-blend-mode: lighten;
    }

    &:after{
        position: absolute;
        content: '';
        top: 0;
        left:0;
        background-image: url('/wp-content/themes/bourassa/images/gradient.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        height: 328px;
    }

    .container{
        min-height: 575px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        padding: 100px 15px 50px;

        h1{
            font-size: 110px;
            line-height: 0.8;
            color: $white;
            letter-spacing: 5px;
            font-weight: normal;
            position: relative;
            text-transform: uppercase;
            text-align: center;
            
            &:after{
                position: absolute;
                content: '';
                transform: translateX(-50%);
                left: 50%;
                width: 370px;
                height: 11px;
                background: $white;
                bottom: -30px;
            }
        }
    }
}

.breadcrumb-wrapper{
    border-bottom: 1px solid $gray2;
    padding:18px 0;
    margin-bottom: 65px;
    
    .breadcrumb{
        background-color: $transparent;
        margin-bottom: 0;
        padding:0;

        .breadcrumb-item{
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;

            a{
                color: $gray4;
                font-size: 14px;
                border-bottom: 1px solid $blue;
            }

            &.active{
                color: $gray3;
            }
        }

        .breadcrumb-item + .breadcrumb-item{
            padding-left: 14px;

            &:before{
                content: '';
                background-image: url('/wp-content/themes/bourassa/images/breadcrumb-icon.png');
                width: 7px;
                height: 9px;
                background-repeat: no-repeat;
                top: 7px;
                position: relative;
                padding-right: 17px;
            }
        }
    }
}

.page-template-video-faqs{
    .faqs {
        padding-top: 0 !important;
    }
}

.faqs{
    padding:50px 0 90px;

    h2{
        text-align: center;
        color: $darkBlue;
        margin-bottom: 60px;
    }

    #accordion{
        .card{
            border: 1px solid $gray6;
            border-radius: 0;
            margin-bottom: 20px;

            .card-header{
                border-radius: 0;
                border: 0;
                background-color: $transparent;
                padding: 0;
                
                h3{
                    margin:0;
                    font-family: $primary-font-family;

                    button{
                        background: $transparent;
                        border: 0;
                        color: $darkBlue;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        color: $darkBlue;
                        padding: 24px 60px 24px 29px;
                        display: block;
                        border-left: 6px solid $light-gray;
                        width: 100%;
                        text-align: left;
                        position: relative;

                        &:after{
                            position: absolute;
                            content: '';
                            background-image: url('/wp-content/themes/bourassa/images/faq-arrow.png');
                            width: 34px;
                            height: 19px;
                            right: 15px;
                            top: 25px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            transition: all ease-in-out 0.2s;
                        }

                        &[aria-expanded="true"]{
                            border-left: 6px solid $blue;

                            &:after{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }

            .card-body{
                padding: 5px 29px 30px 35px;

                p{
                    font-size: 18px;
                    font-weight: normal;
                    color: $black3;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.free-case-review{
    margin: 35px 0 50px;

    .inner{
        border: 8px solid $blue;
        text-align: center;
        padding:57px 20px 60px;

        .content{
            padding:0;
            margin:0 !important;
            
            h3{
                font-size: 40px;
                margin:0;
                margin-bottom: 25px;
            }
        }
    }
}

.fatalities{
    .inner{
        h3{
            margin-bottom: 30px;
        }

        .single-fatality{
            margin-bottom: 25px;

            h4{
                color: $darkBlue;
                margin-bottom: 12px;
                font-family: $primary-font-family;
                font-size: 20px;
                font-weight: bold;
            }

            .progress-bar-wrapper{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                max-width: 660px;

                .progress-bar{
                    background: $gray7;
                    height: 24px;
                    flex-basis: 580px;

                    .progress{
                        height: 24px;
                        border-radius: 0;
                    }
                }

                span{
                    display: inline-block;
                    padding-left: 16px;
                    color: $blue;
                    font-weight: bold;
                    font-size: 20px;
                    width: calc(100% - 580px);
                }
            }
        }
    }
}

.our-mission{
    margin: 50px 0;

    h3{
        font-size: 30px !important;
        font-family: $primary-font-family !important;
        text-transform: initial;
        font-weight: bold !important;
        margin-bottom: 20px !important;
    }

    .inner{
        background: $lightgreyishBlue;
        border-left: 5px solid $blue;
        padding: 20px 27px;

        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

#ez-toc-container{
    border: 1px solid $lightgreyishBlue2;
    background: $transparent;
    border-radius: 0;
    width: 100%;
    padding:30px 27px;
    margin: 50px 0;
    
    .ez-toc-title{
        font-size: 30px !important;
        display: block !important;
        font-weight: bold !important; 
        line-height: 1.3 !important;
        color: $darkBlue;
        text-transform: uppercase !important;
        margin-bottom: 10px !important;
    }

    .ez-toc-list{
        li{
            border-bottom: 1px solid $gray8;

            &:last-child{
                border-bottom: 0;
            }

            a{
                display: block;
                font-size: 16px;
                font-weight: normal;
                color: $black3;
                padding: 10px;

                &:hover{
                    text-decoration: none;
                    color: $blue;
                }
            }
        }
    }
}

.verdicts-settlements-results-wrap{
    margin-bottom: 40px;

    h2{
        margin-bottom: 25px !important;
    }

    .verdicts-settlements-results{
        .verdicts-settlements-content{
            padding-bottom: 35px;
            margin-bottom: 35px;
            border-bottom: 1px solid $gray7;

            .head{
                padding-bottom: 25px;
                margin-bottom: 27px;
                position: relative;

                &:before{
                    position: absolute;
                    content: '';
                    background: $blue;
                    left: 0;
                    width: 160px;
                    height: 4px;
                    bottom: 0;
                }

                span{
                    color: $blue;
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
    
                h3{
                    line-height: 1.3;
                    font-size: 40px;
                    letter-spacing: 3px;
                    font-family: $primary-font-family !important;
                    font-weight: bold !important;
                    margin:0;
                }
            }

            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    .common-btn{
        min-width: 172px;
    }
}

.contact-info{
    h3{
        font-family: $primary-font-family !important;
        font-weight: bold !important;
        font-size: 30px !important;
        text-transform: initial ;
        margin-bottom: 35px !important;
    }

    .inner{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

        .office-info{
            margin-bottom: 40px;

            h4{
                font-family: $primary-font-family;
                font-size: 20px;
                font-weight: bold;
                color: $black4;
                margin-bottom: 20px;
            }

            ul{
                li{
                    padding:0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    img{
                        width: 37px;
                        height: 37px;
                        object-fit: contain;
                    }

                    p{
                        font-size: 15px;
                        font-weight: normal;
                        color: $black4;
                        width: calc(100% - 37px);
                        padding-left: 15px;
                        line-height: 2.5;
                        margin-bottom: 0;

                        a{
                            font-size: 15px;
                            font-weight: normal;
                            color: $black4;
                            font-weight: bold;
                            transition: all ease-in-out 0.2s;

                            &:hover{
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact-form-evaluation{
    background-image: url('/wp-content/themes/bourassa/images/contact-form-sidebar-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:45px 32px;
    margin-bottom: 40px;

    span{
        font-size: 16px;
        font-weight: 300;
        color: $white;
        letter-spacing: 1px;
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }

    h2{
        color: $white;
        text-align: center;
        margin-bottom: 20px;
    }

    form{
        .col-12{
            padding:0;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        input, select{
            border-radius: 0;
            padding: 11px 20px;
            height: auto;
            border: 0;
            font-size: 16px;
            color: $black3;
            box-shadow: none !important;

            &::-webkit-input-placeholder {
                font-size: 16px;
                color: $black3;
            }
            
            &:-ms-input-placeholder { 
                font-size: 16px;
                color: $black3;
            }
            
            &::placeholder {
                font-size: 16px;
                color: $black3;
            }
        }

        select{
            background-image: url('/wp-content/themes/bourassa/images/select-arrow.png');
            background-position: 97% center;
            background-size: 14px 9px;
        }

        textarea{
            height: 125px;
            border-radius: 0;
            border: 0;
            padding: 12px 20px;
            font-size: 16px;
            color: $black3;
            box-shadow: none !important;

            &::-webkit-input-placeholder {
                font-size: 16px;
                color: $black3;
            }
            
            &:-ms-input-placeholder { 
                font-size: 16px;
                color: $black3;
            }
            
            &::placeholder {
                font-size: 16px;
                color: $black3;
            }
        }

        button{
            height: auto;
            border: 2px solid $transparent;
            border-radius: 0;

            &:hover{
                border: 2px solid $white;
            }
        }
    }

    &.get-in-touch{
        background-image: none;
        padding: 0;

        form{
            .form-row{
                margin: 0 -8px;

                input, select{
                    background-color:  $off-white;
                }
        
                textarea{
                    background-color:  $off-white;
                    height: 140px;
                }
        
                .col-12{
                    padding:0 8px;
                    margin-bottom: 16px;
                }

                button{
                    &:hover{
                        border: 2px solid $darkBlue;
                    }
                }
            }
        }
    }
}

.blog{
    .row{
        padding-bottom: 70px;
        border-bottom: 1px solid $gray7;
        margin-bottom: 70px;
    }

    h2{
        text-align: center;
        margin-bottom: 20px;
        color: $darkBlue;
    }

    .blog-btn{
        text-align: center;
    }

    .blog-post{
        margin-bottom: 40px;

        .views-field-field-article-image{
            a{
                img{
    
                }
            }
        }
    
        .views-field-nothing{
            .field-content{
                a{
                    h3{
                        font-weight: normal;
                        font-size: 30px;
                        line-height: 1.2;
                        margin-bottom: 12px;
                        font-family: $secondary-font-family;
                    }
    
                    p{
                        font-size: 16px;
                        color: $black3;
                        margin-bottom: 15px;
                    }
    
                    aside{
                        font-size: 14px;
                        font-weight: bold;
                        color: $black;
                    }
                }
            }
        }
    }
}
