// Our Firm

.attorneys, .staff{
    margin-bottom: 50px;

    >h3{
        font-size: 30px !important;
        font-family: $primary-font-family !important;
        text-transform: initial;
        font-weight: bold !important;
        margin-bottom: 20px !important;
    }

    .attorney, .member{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid $gray8;

        .img-wrap{
            width: 250px;
            position: relative;

            &:before{
                position: absolute;
                content: '';
                width: 100%;
                left: 0;
                bottom: 0;
                height: 90%;
                background: $light-blue2;
                z-index: -1;
            }

            img{
                width: 100%;
                object-fit: cover;
                height: 290px;
                object-position: center top;
                position: relative;
            }
        }

        .info{
            width: calc(100% - 250px);
            padding: 20px 37px 0;

            h4{
                font-size: 20px;
                color: $darkBlue;
                letter-spacing: 1px;
                line-height: 1.3;
                margin-bottom: 15px;
                font-family: $primary-font-family;
                font-weight: bold;
            }

            p{
                margin-bottom: 20px;
            }

            .common-btn{
                color: $blue;
                background: $transparent;
                border: 2px solid $blue;
                min-width: 192px;

                &:hover{
                    color: $white;
                    background: $blue;
                }
            }
        }
    }
}

.staff{
    .member{
        .img-wrap{
            &:before{
                height: 100%;
            }

            img{
                height: auto;
                object-fit: initial;
            }
        }
    }
}

