# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore languages folder
languages

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore node-version file
.node-version

# Ignore vendor files
vendor
